/GeneratedFiles
/Win32
/FScene-Designer.opensdf
/FScene-Designer.sdf
/FScene-Designer.v11.suo
*.swp
*.swo
/debug
/debug/*.pdb
*.sdf
*.suo
/SampleTest
/Release/v2.0.0/tools/*.pdb
/Release/v2.0.0/tools/*.ilk
